---
import Layout from "../../layouts/Layout.astro";
import { allPlaylists, songs } from "../../lib/data";

const { id } = Astro.params;
const playlist = allPlaylists.find((playlist) => playlist.id === id);

const playlistSongs = songs.filter(
  (song) => song.albumId === playlist?.albumId
);
---

<Layout>
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-green-600 h-full"
  >
    <!-- Page header here -->

    <div class="relative z-10 px-6 pt-10">
      <!-- Greetings -->
      <h1 class="text-3xl font-bold">Buenos Dias 👋</h1>

      <div class="grid grid-cols-3 grid-rows-2 gap-2 mt-10">
        {playlists.map((playlist) => <MainPlaylistItem playlist={playlist} />)}
      </div>
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
    >
    </div>
  </div>
</Layout>
