---
import Home from "../icons/Home.astro";
import Search from "../icons/Search.astro";
import Library from "../icons/Library.astro";
import SideMenuItem from "./SideMenuItem.astro";
import AsideMenuAlbum from "./AsideMenuAlbum.astro";
import { playlists } from "../lib/data";
---

<nav class="flex flex-col gap-2 flex-1">
  <div class="bg-zinc-900 rounded-lg min-h-[100px] p-3">
    <ul class="flex flex-col gap-5">
      <SideMenuItem href="/">
        <Home />
        Home
      </SideMenuItem>
      <SideMenuItem href="/search">
        <Search />
        Search
      </SideMenuItem>
    </ul>
  </div>
  <div class="bg-zinc-900 rounded-lg p-3 flex-1">
    <ul class="flex flex-col gap-4 w-full">
      <SideMenuItem href="/library">
        <Library />
        Library
      </SideMenuItem>
      {playlists.map((playlist) => <AsideMenuAlbum playlist={playlist} />)}
    </ul>
  </div>
</nav>
