---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<li
  class="flex gap-4 text-zinc-400 hover:text-zinc-100 hover:cursor-pointer items-center"
>
  <a href={href}> </a>
  <slot />
</li>
